.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dicas-body{
    width: 100%;
    padding: 0px 105px;
    display: flex;
}

.dicas-sec{
    width: 70%;
    position: static;
    display: flex;
    justify-content: space-between;
}

.dicas-sec .sec{
    margin-right: 1%;
}

.canvas{
    position: absolute;
    opacity: 0.45;
}

.canvas-ph{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(3, 30, 60);
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.rich-txt{
    width: 25%;
}

