.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dicas-sec{
    width: 100%;
    padding: 20px 105px;
    display: flex;
    justify-content: space-between;
}

.dicas-sec .sec{
    width: 49%;
}

.canvas{
    position: absolute;
    opacity: 0.45;
}

.richtxt{
    margin-bottom: 50px;
}
